@import  './typography.css';
@import  './layout.css';
@import './media-query.css';
@font-face {
    src: url(../fonts/Ubuntu-Regular.ttf);
    font-family: Ubuntu;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    background-color: #f6f6f6;
}



.active {
    border-bottom: 1px solid #1f2a44;
    padding-bottom: 0.2em;
}


