/* Typography */
h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: black;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

h2 {
    margin-bottom: 0.5em;
}

h3 {
    color: #333333;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0.5em;
}

.subtitle {
    color: #a9a9a9;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
}
.dark-subtitle{
    color: #1f2a44;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
}

.desc-text {
    font-weight: 400;
    padding: 1em 0;
}

.uppercase {
    text-transform: uppercase;
}

a {
    color: #4a4a4a;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

a:hover,
a:focus {
    color: #1f2a44;
    font-weight: 900;
}

.btn {
    background-color: #1f2a44;
    text-transform: uppercase;
    color: white;
    width: fit-content;
    display: block;
    padding: 0.6em;
    margin: auto;
    border: 1px solid transparent;
}

.btn:hover {
    background-color: transparent;
    border-color: #1f2a44;
}

.emphasize {
    font-weight: 400;
    color: #4a4a4a;
}